//! **************************************************************************
// Written by: Map P.68d on Wed Jun 07 10:08:48 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "H2" LEVEL 1;
COMP "anode_t" LOCATE = SITE "L3" LEVEL 1;
COMP "enter" LOCATE = SITE "B8" LEVEL 1;
COMP "Col<0>" LOCATE = SITE "G11" LEVEL 1;
COMP "Col<1>" LOCATE = SITE "F10" LEVEL 1;
COMP "Col<2>" LOCATE = SITE "F11" LEVEL 1;
COMP "Col<3>" LOCATE = SITE "E11" LEVEL 1;
COMP "Row<0>" LOCATE = SITE "D12" LEVEL 1;
COMP "Row<1>" LOCATE = SITE "C12" LEVEL 1;
COMP "Row<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "Row<3>" LOCATE = SITE "E12" LEVEL 1;
COMP "master_key" LOCATE = SITE "T10" LEVEL 1;
COMP "anodes_f<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "anodes_f<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodes_f<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodes_f<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "cathodes_f<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "cathodes_f<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "cathodes_f<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "cathodes_f<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "cathodes_f<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "cathodes_f<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "cathodes_f<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "cathodes_t<0>" LOCATE = SITE "L4" LEVEL 1;
COMP "cathodes_t<1>" LOCATE = SITE "N10" LEVEL 1;
COMP "cathodes_t<2>" LOCATE = SITE "V12" LEVEL 1;
COMP "cathodes_t<3>" LOCATE = SITE "T12" LEVEL 1;
COMP "cathodes_t<4>" LOCATE = SITE "K1" LEVEL 1;
COMP "cathodes_t<5>" LOCATE = SITE "K2" LEVEL 1;
COMP "cathodes_t<6>" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

