//! **************************************************************************
// Written by: Map P.68d on Wed May 24 11:49:05 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "H2" LEVEL 1;
COMP "Col<0>" LOCATE = SITE "G11" LEVEL 1;
COMP "Col<1>" LOCATE = SITE "F10" LEVEL 1;
COMP "cathodes<0>" LOCATE = SITE "L4" LEVEL 1;
COMP "Col<2>" LOCATE = SITE "F11" LEVEL 1;
COMP "cathodes<1>" LOCATE = SITE "N10" LEVEL 1;
COMP "Col<3>" LOCATE = SITE "E11" LEVEL 1;
COMP "cathodes<2>" LOCATE = SITE "V12" LEVEL 1;
COMP "cathodes<3>" LOCATE = SITE "T12" LEVEL 1;
COMP "cathodes<4>" LOCATE = SITE "K1" LEVEL 1;
COMP "cathodes<5>" LOCATE = SITE "K2" LEVEL 1;
COMP "anode" LOCATE = SITE "L3" LEVEL 1;
COMP "cathodes<6>" LOCATE = SITE "P11" LEVEL 1;
COMP "Row<0>" LOCATE = SITE "D12" LEVEL 1;
COMP "Row<1>" LOCATE = SITE "C12" LEVEL 1;
COMP "Row<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "Row<3>" LOCATE = SITE "E12" LEVEL 1;
SCHEMATIC END;

